manifest {
  mainScript = 'main.nf'
  defaultBranch = 'main'
  nextflowVersion = '>=24.04.4'
}

// Global default params, used in configs
params {
    // Runtime / environment
    runtime_opts = ''
    lsf_opts = ''
    vmf = '-B' // volume mounting flag - default it to singularity flag
    singularity_cache_dir = (System.getenv('HOME') ?: System.getenv('TMPDIR') ?: '/tmp') + '/.singularity_cache'
    singularity_user = System.getenv('USER') ?: ''
    scratch_mount = ''

    // Containers
    apt_detect_container = 'public.ecr.aws/janeliascicomp/huston/apt_detect:1.1.0'
    apt_track_container = 'public.ecr.aws/janeliascicomp/huston/apt_track:1.0.0'

    // Process behavior
    error_strategy = 'ignore' // the default nextflow strategy use ignore instead of terminate
    apt_detect_cpus = 2
    apt_detect_memory = '30G'
    apt_track_cpus = 3
    apt_track_memory = '45G'
    force_detect = false
    force_track = false

    // Inputs / discovery
    flydata_dirname_pattern = 'fly[0-9]*'
    flydata_maxdepth_search = 0

    // Side view
    sideview_crop_size = '230,350'
    sideview_videoname_pattern = 'C001*.avi'
    sideview_detect_result_suffix = '_side'
    sideview_collectionfile = 'View1Vids.txt'

    // Front view
    frontview_crop_size = '350,350'
    frontview_videoname_pattern = 'C002*.avi'
    frontview_detect_result_suffix = '_front'
    frontview_collectionfile = 'View2Vids.txt'

    // External resources
    body_axis_lookup_filename = ''
    label_filename = ''
    crop_regression_filename = ''
    model_cache_dirname = ''
    model_name = ''
    calibrations_filename = ''
    scratch_dir = ''
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true

        process {
            withLabel: withGPU {
                containerOptions = "${params.runtime_opts} --nv"
            }
        }

    }

    localDocker {
        docker.enabled = true
        singularity.enabled = false
        params.vmf = '-v'
    }

    janeliaLSF {
        params {
            scratch_mount = "-B /scratch/${System.getenv('USER') ?: ''}"
        }
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: withGPU {
                queue = 'gpu_l4'
                clusterOptions = "-gpu \"num=1\" ${params.lsf_opts}"
                containerOptions = "${params.runtime_opts} --nv"
            }

            withLabel: use_local {
                executor = 'local'
            }
        }
        docker.enabled = false
        singularity.enabled = true
    }

    janeliaLSFNoGPU {
        params {
            scratch_mount = "-B /scratch/${System.getenv('USER') ?: ''}"
        }
        process {
            executor = 'lsf'

            containerOptions = params.runtime_opts
            clusterOptions = params.lsf_opts

            withLabel: use_local {
                executor = 'local'
            }
        }
        docker.enabled = false
        singularity.enabled = true
    }

    tower {
        params {
            singularity_user = "ec2_user"
        }
        process {
            withLabel: withGPU {
                containerOptions = ""
            }
        }
        fusion.enabled = true
        wave.enabled = true
        docker.enabled = true
        singularity.enabled = false
    }

    tower_gpu {
        params {
            singularity_user = "ec2_user"
        }
        process {
            withLabel: withGPU {
                accelerator = 1
                containerOptions = "--runtime nvidia"
            }
        }
        fusion.enabled = true
        wave.enabled = true
        docker.enabled = true
        singularity.enabled = false
    }
}

docker {
    runOptions = "${params.runtime_opts}"
    temp = "auto"
}

singularity {
    autoMounts = true
    cacheDir = "${params.singularity_cache_dir}"
    runOptions = "${params.scratch_mount} --env USER=${params.singularity_user} ${params.runtime_opts}"
}
