manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10.0'
}

// Global default params, used in configs
params {
    runtime_opts = ''
    lsf_opts = ''
    vmf = '' // volume mounting flag
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {

    standard {
        docker.enabled = true
        singularity.enabled = false
        vmf = '-v'
    }

    localdocker {
        docker.enabled = true
        singularity.enabled = false
        params.vmf = '-v'
    }

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: use_gpu {
                queue = 'gpu_rtx'
                clusterOptions = '-gpu "num=1" ' + params.lsf_opts
            }
        }
        docker.enabled = false
        singularity.enabled = true
    }
}

docker {
    runOptions = "${params.runtime_opts}"
    temp = "auto"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "--nv ${params.runtime_opts}"
}
