params {
    apt_detect_cpus = 2
    apt_detect_memory = 30
    apt_detect_container = 'public.ecr.aws/janeliascicomp/huston/apt_detect:1.1.0'

}

process {
    withName: CREATE_VIDEOLIST {
        container = params.apt_detect_container
    }

    withName: DETECT_FEATURES_FROM_VIDEO {
        container = params.apt_detect_container
        cpus = params.apt_detect_cpus
        memory = { (params.apt_detect_memory as int).GB }
    }
}
