params {
    force_track = false

    apt_track_cpus = 3
    apt_track_memory = 45

    apt_track_container = 'public.ecr.aws/janeliascicomp/huston/apt_track:1.0.0'

    error_strategy = 'terminate' // the default nextflow strategy use ignore instead of terminate
}

process {
    withName: COMPUTE_TRAJECTORIES {
        container = params.apt_track_container
        cpus = params.apt_track_cpus
        memory = { (params.apt_track_memory as int).GB }
        errorStrategy = params.error_strategy
    }
}
