# AWS_REGION should be in the format us-east-1
AWS_REGION=

# AWS_ACCOUNT should be in the format 123456789012.
# Your AWS account is displayed in the AWS console as a number in the format 1234-5678-9012
# but here it should not have any hyphen characters -> 123456789012
AWS_ACCOUNT=

# S3 bucket that will automatically be mounted in the AMI if set
AMI_S3_BUCKET=
